[Unit]
Description=rport Remote Management Server
ConditionFileIsExecutable=/usr/bin/rportd
StartLimitIntervalSec=5
StartLimitBurst=10
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/rportd "-c" "/etc/rport/rportd.conf"
User=rport
Restart=always
RestartSec=120
EnvironmentFile=-/etc/conf.d/rportd

[Install]
WantedBy=multi-user.target
