[Unit]
Description=Rustdesk Relay Server

[Service]
Type=simple
LimitNOFILE=1000000
EnvironmentFile=/etc/conf.d/rustdesk-server
ExecStart=/usr/sbin/hbbr $HBBR_OPTS
WorkingDirectory=/var/lib/rustdesk-server/
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10

[Install]
WantedBy=multi-user.target
